{
	"extends": ["xo", "xo-react"],
	"globals": {
		"location": "readonly",
		"unknown": "readonly",
		"ReturnType": "readonly"
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2021,
		"sourceType": "module"
	},
	"rules": {
		"object-shorthand": ["error", "always"],
		"object-curly-spacing": ["error", "always"],
		"arrow-parens": ["error", "always"],
		"react/react-in-jsx-scope": 0,
		"react/jsx-tag-spacing": [2, { "beforeSelfClosing": "always" }],
		"react/jsx-sort-props": ["error", { "shorthandFirst": true, "callbacksLast": true }],
		"no-undef": "warn"
	}
}
