{
	"extends": ["xo", "xo-react"],
	"rules": {
		"object-shorthand": ["error", "always"],
		"object-curly-spacing": ["error", "always"],
		"arrow-parens": ["error", "always"],
		"react/react-in-jsx-scope": 0,
		"react/jsx-tag-spacing": [2, { "beforeSelfClosing": "always" }],
		"comma-dangle": ["error", "never"]
	}
}
